<h1>Create new product</h1>

<form method="POST" action="/product/create">
    <label>Name: </label>
    <input name="name"><br/>
    <label>Price: </label>
    <input name="price"/><br/>
    <label>HeaderImage: </label>
    <input name="headerImage"/><br/>
    <label>Qty: </label>
    <input name="qty"/><br/>
    <textarea rows="5" cols="100" name="content"></textarea><br/>
    <input type="submit"/>
</form>

<div>
    <form  action="/">
    <input value="Back" type="submit"/>
    </form>
</div>